@import url(https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold);
@import url(https://db.onlinewebfonts.com/c/2bf16335573007d828f4197c2b884c04?family=Satoshi);
@import url(https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular);

* {
  padding: 0;
  margin: 0;
  font-family: "Satoshi", "Integral CF Bold", "Integral CF Regular", sans-serif;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  gap: 20px;
}

.logo {
  display: flex;
  align-self: center;
  align-items: center;
}

.h2-logo {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  margin-top: 5px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.input-wrapper {
  width: 100%;
  max-width: 576px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f0f0f0;
  border-radius: 62px;
  padding-left: 20px;
  margin-top: 5px;
}

.input-wrapper input {
  background-color: transparent;
}

input {
  height: 3rem;
  border-radius: 3.875rem;
  opacity: 0px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input::placeholder {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
}

#lupa {
  display: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 12px;
  margin-top: 10px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

main {
  background-image: url("../img/home-couple.png");
  padding-right: 6rem;
  padding-left: 6rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 663px;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: "Integral CF Bold", sans-serif;
  font-weight: 700;
  font-size: 64px;
  max-width: 577px;
  padding-top: 5rem;
}

.description {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  max-width: 545px;
}

#shop-now {
  width: 210px;
  height: 52px;
  top: 507px;
  left: 100px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
}

.btn-default {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}

#main_list_home {
  display: flex;
  justify-content: space-between;
  max-width: 596px;
  height: 74px;
  top: 607px;
  left: 100px;
  gap: 32px;
}

.main_list {
  list-style: none;
}

.h2_main_list {
  font-family: "Satoshi", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.main_li {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

#section_brands {
  background-color: rgba(0, 0, 0, 1);
}

#brands {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 3rem 6rem;
}

#brands li {
  list-style: none;
}

#brands li a {
  text-decoration: none;
}

#new_arrivals {
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 5rem;
}

#top_selling {
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 4rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 3.438rem;
  border-radius: 20px;
}

.second_title {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.cloth-title {
  font-family: "Satoshi", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding-top: 10px;
}

.stars {
  padding-top: 5px;
  padding-bottom: 5px;
}

.price {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
}

.promotion {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-button {
  width: 58px;
  height: 28px;
  padding: 6px 14px 6px 14px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  background-color: rgba(255, 51, 51, 0.1);
  color: rgba(255, 51, 51, 1);
  font-family: "Satoshi", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  text-align: left;
  border: none;
}

.view-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 218px;
  height: 52px;
  top: 1548px;
  left: 611px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.view-all {
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#styles {
  padding-right: 6rem;
  padding-left: 6rem;
  display: flex;
  justify-content: center;
}

#style {
  text-align: center;
  font-family: "Integral CF Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

#dress_style {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#first_group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#second_group {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 3rem;
}

#comments {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  gap: 40px;
}

#text_and_scroll {
  display: flex;
  justify-content: space-between;
}

#arrows {
  display: flex;
  gap: 16px;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 240px;
  padding: 28px 32px 28px 32px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#section_of_comments {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#h2_comments {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

#formulario {
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin-top: 6rem;
  height: 180px;
  margin: 6rem auto;
  border-radius: 20px;
  position: absolute;
  left: calc(50% - 1240px / 2);
  top: -185px;
}

#h2_form {
  display: flex;
  align-items: center;
  width: 551px;
}

#h2-form-stay {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 40px;
  line-height: 45px;
  text-align: left;
  height: 94px;
  color: rgba(255, 255, 255, 1);
}

#form {
  display: flex;
  width: 350px;
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 62px;
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 62px;
  width: 349px;
  margin-bottom: 14px;
}

.search-input {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 12px;
  width: 100%;
  outline: none;
  border: none;
}

.search-icon {
  padding-left: 16px;
}

#subscribe {
  width: 349px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

a {
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

footer {
  width: 100%;
  background-color: #f0f0f0;
  position: relative;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  padding: 8rem 6rem;
  gap: 20px;
  padding-bottom: 1.5rem;
}

#footer_contacts {
  max-width: 248px;
}

#footer_contacts h2 {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.h3_footer_list {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3px;
}

#footer_social_media {
  display: flex;
  gap: 1rem;
  margin-top: 2.2rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  width: fit-content;
  padding-top: 9px;
}

.footer-list .footer-link {
  text-decoration: none;
}

.footer-link {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

#footer-p {
  font-size: 0.875rem;
}

#footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-bottom: 4rem;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
}

#footer_payments {
  margin-top: 15px;
  display: flex;
  width: 100%;
  max-width: 315px;
}

#copyright {
  font-family: "Satoshi", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1000px) {
  .input-wrapper {
    display: none;
  }

  #lupa {
    display: block;
  }
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 1.5rem;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
    margin-top: 13px;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }

  #footer_content {
    padding: 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .nav-bar {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 390px;
  }

  main {
    background-image: none;
  }

  #main_content {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 390px;
  }

  .title {
    font-family: "Integral CF Bold", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    padding-top: 2.5rem;
  }

  .description {
    font-family: "Satoshi", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-bottom: 4px;
  }

  #shop-now {
    width: 358px;
    height: 52px;
    top: 325px;
    left: 16px;
    padding: 16px 54px 16px 54px;
    gap: 12px;
    border-radius: 62px;
  }

  #home {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #main_list_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #brands {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 21px;
    align-items: center;
  }

  #versace {
    width: 116.74px;
    height: 23.25px;
  }

  #zara {
    width: 63.81px;
    height: 26.65px;
    padding: 0.01px 0px 0.01px 0px;
  }

  #gucci {
    width: 109.39px;
    height: 25.24px;
    padding: 1.3px 0px 1.3px 0px;
  }

  #prada {
    width: 127px;
    height: 21px;
    padding: 0.26px 0px 0.26px 0px;
  }

  #ck {
    width: 134.84px;
    height: 21.75px;
  }

  #new_arrivals {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 50px;
  }

  .second_title {
    font-family: "Integral CF Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: center;
  }

  .cards {
    justify-content: unset;
  }

  .card_image {
    width: 198px;
    height: 200.01px;
    top: 1217px;
    left: 16px;
    gap: 0px;
    border-radius: 13.42px 0px 0px 0px;
    opacity: 0px;
  }

  .cloth-title {
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
  }

  .stars {
    width: 127px;
    height: 16px;
    top: 1453.01px;
    left: 16px;
    gap: 11px;
    opacity: 0px;
    box-sizing: content-box;
  }

  .preco-cortado {
    width: 42px;
    height: 20px;
  }

  .price {
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
  }

  .promotion {
    gap: 5px;
  }

  .discount-button {
    font-family: "Satoshi", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 13.5px;
    text-align: left;
    width: 42px;
    height: 20px;
    text-align: center;
    border-radius: 62px;
    padding: 0;
  }

  #top_selling {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
  }
  .view-btn {
    display: flex;
    justify-content: center;
    width: 358px;
    height: 46px;
    align-items: center;
    text-align: center;
  }

  .view-all {
    width: 51px;
    height: 19px;
    text-align: center;
    font-family: "Satoshi", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    color: rgba(0, 0, 0, 1);
  }

  #styles {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 50px;
  }
}
