@import url(https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold);
@import url(https://db.onlinewebfonts.com/c/2bf16335573007d828f4197c2b884c04?family=Satoshi);
@import url(https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular);

* {
  padding: 0;
  margin: 0;
  font-family: "Satoshi", sans-serif;
  box-sizing: border-box;
}

#first_order {
  height: 38px;
  padding: 9px 100px 9px 544px;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 1);
}

/* todo: duplicated first-order */
#first-order {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

#first_order_p {
  max-width: 351px;
}

#img-x-close {
  display: flex;
  justify-content: end;
}

#close-the-x {
  background-color: rgba(0, 0, 0, 1);
  border-style: unset;
  cursor: pointer;
}

#sign_up {
  color: rgba(255, 255, 255, 1);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6.25rem;
  gap: 20px;
  overflow: hidden;
}

.logo {
  display: flex;
  align-self: center;
  align-items: center;
}

.h2-logo {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-list {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  margin-top: 5px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
  max-width: 576px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f0f0f0;
  border-radius: 62px;
  padding-left: 20px;
  margin-top: 5px;
}

.input-wrapper input {
  background-color: transparent;
}

#search {
  min-width: 500px;
}

input {
  height: 3rem;
  border-radius: 3.875rem;
  opacity: 0px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input::placeholder {
  font-size: 1rem;
}

#lupa {
  display: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 12px;
  margin-top: 10px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

main {
  background-image: url("../img/home-couple.png");
  padding-right: 6.25rem;
  padding-left: 6.25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 663px;
  overflow: hidden;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#cta {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Integral CF Bold", sans-serif;
  font-weight: 700;
  font-size: 64px;
  max-width: 577px;
  padding-top: 5rem;
}

.description {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  max-width: 545px;
  margin-top: 20px;
  margin-bottom: 24px;
}

#shop-now {
  width: 210px;
  height: 52px;
  top: 507px;
  left: 100px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.btn-default {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}

#main_list_home {
  display: flex;
  justify-content: space-between;
  max-width: 596px;
  height: 74px;
  top: 607px;
  left: 100px;
  gap: 32px;
}

.main_list {
  list-style: none;
}

.h2_main_list {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.main_list_divider {
  border-color: rgba(0, 0, 0, 0.1);
}

.main_li {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

#section_brands {
  background-color: rgba(0, 0, 0, 1);
}

#brands {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 122px;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  align-items: center;
  overflow: hidden;
}

#brands li {
  list-style: none;
}

#brands li a {
  text-decoration: none;
}

#versace {
  box-sizing: content-box;
  width: 166.48px;
  height: 33.16px;
}

#zara {
  width: 91px;
  height: 38px;
  padding: 0.01px 0px 0.01px 0px;
}

#gucci {
  width: 156px;
  height: 36px;
}

#prada {
  width: 194px;
  height: 32px;
  padding: 0.4px 0px 0.4px 0px;
}

#ck {
  width: 206.79px;
  height: 33.35px;
}

#new_arrivals {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
  padding-top: 5rem;
  overflow: hidden;
}

#cloth_divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

#top_selling {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
  padding-top: 4rem;
  overflow: hidden;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 3.438rem;
  border-radius: 20px;
}

.second_title {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.cloth-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding-top: 10px;
}

.name {
  display: flex;
  align-items: center;
  padding-top: 5px;
  gap: 2px;
}

.stars {
  padding-top: 5px;
  padding-bottom: 5px;
}

.price {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
}

.promotion {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-button {
  width: 58px;
  height: 28px;
  padding: 6px 14px 6px 14px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  background-color: rgba(255, 51, 51, 0.1);
  color: rgba(255, 51, 51, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  text-align: left;
  border: none;
}

.view-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 218px;
  height: 52px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  cursor: pointer;
}

.view-all {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

#casual {
  background-image: url(../img/casual-espelhada.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 61% 37%;
  background-size: 239%;
  width: 407px;
  height: 289px;
  border-radius: 20px;
}

#formal {
  background-image: url(../img/formal.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1% 25.1%;
  background-size: 192%;
  width: 684px;
  height: 289px;
  border-radius: 20px;
}

#party {
  background-image: url(../img/party.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5% 47.3%;
  background-size: 120%;
  width: 684px;
  height: 289px;
  border-radius: 20px;
}

#gym {
  background-image: url(../img/gym.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -135% 38%;
  background-size: 110%;
  width: 407px;
  height: 289px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}

.text-dress-style {
  padding-left: 36px;
  padding-top: 25px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48.6px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

#second_group {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 2.25rem;
  padding-bottom: 5rem;
}

#styles {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#style {
  text-align: center;
  font-family: "Integral CF Bold", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

#dress_style {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#first_group {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 64px;
  padding-right: 64px;
}

#second_group {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 76px;
  padding-left: 64px;
  padding-right: 64px;
}

#first_group div,
#second_group div {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#first_group div:hover,
#second_group div:hover {
  transform: scale(1.01);
}

#comments {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 11rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 40px;
  overflow: hidden;
}

#text_and_scroll {
  display: flex;
  justify-content: space-between;
}

#arrows {
  display: flex;
  gap: 16px;
  align-items: end;
  padding-right: 6.25rem;
}

#arrows img {
  cursor: pointer;
  transition: scale 0.1s ease-in-out;
}
#arrows img:hover {
  scale: 1.1;
}

.comment {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 240px;
  padding: 28px 32px 28px 32px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.avaliacao {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-top: 8px;
}

#section_of_comments {
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: transform 0.5s ease-in;
}

.comment:nth-child(2),
.comment:nth-last-child(2) {
  filter: blur(1px);
}

#h2_comments {
  padding-left: 6.25rem;
  font-family: "Integral CF Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  min-width: 654px;
  height: 58px;
}

#formulario {
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin-top: 6rem;
  height: 180px;
  margin: 6rem auto;
  border-radius: 20px;
  position: absolute;
  left: calc(50% - 1240px / 2);
  top: -185px;
}

#h2_form {
  display: flex;
  align-items: center;
  width: 551px;
}

#h2-form-stay {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 40px;
  line-height: 45px;
  text-align: left;
  height: 94px;
  color: rgba(255, 255, 255, 1);
}

#form {
  display: flex;
  width: 350px;
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 62px;
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 62px;
  width: 349px;
  margin-bottom: 14px;
}

.search-input {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 12px;
  width: 100%;
  outline: none;
  border: none;
}

.search-icon {
  padding-left: 16px;
}

#subscribe {
  width: 349px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#subscribe-feedback {
  color: white;
}

#subscribe a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

footer {
  width: 100%;
  background-color: #f0f0f0;
  position: relative;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  gap: 113.5px;
  overflow: hidden;
  padding-top: 10px;
}

#footer_contacts {
  max-width: 248px;
}

#footer-logo {
  font-family: "Integral CF Bold", sans-serif;
  width: 167px;
  height: 23px;
  font-size: 33.45px;
  font-weight: 700;
  line-height: 40.15px;
  text-align: left;
  cursor: pointer;
}

.h3_footer_list {
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3px;
}

#footer_social_media {
  display: flex;
  gap: 1rem;
  padding-top: 35px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  width: fit-content;
  padding-top: 9px;
}

.footer-list .footer-link {
  text-decoration: none;
}

.footer-link {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

#footer-p {
  width: 248px;
  height: 66px;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-top: 25px;
}

#footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  padding-bottom: 4rem;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  overflow: hidden;
}

#footer_payments {
  margin-top: 15px;
  display: flex;
  width: 100%;
  max-width: 315px;
  margin-right: 5px;
}

#copyright {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.footer-link {
  text-decoration: none;
}

.ul_footer_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer_middle {
  display: flex;
  justify-content: center;
  gap: 113.5px;
  padding-top: 140px;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  overflow: hidden;
  padding-bottom: 50px;
}

@media screen and (min-width: 1920px) {
  .h2-logo {
    font-size: 3rem;
  }

  main {
    height: 860px;
  }

  .title {
    font-size: 80px;
    max-width: 700px;
  }

  .description {
    font-size: 18px;
    max-width: 700px;
  }

  #shop-now {
    height: 60px;
  }

  .btn-default {
    font-size: 18px;
  }

  #cta {
    gap: 20px;
  }

  #home {
    gap: 64px;
  }

  #main_list_home {
    max-width: 700px;
  }

  .h2_main_list {
    font-size: 48px;
  }

  .main_li {
    font-size: 18px;
  }

  #styles {
    padding-left: 17.6%;
    padding-right: 17.6%;
  }

  #footer_middle {
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  #footer-logo {
    font-size: 3rem;
  }

  #footer-p {
    min-width: 400px;
    font-size: 18px;
    padding-top: 40px;
  }

  #footer_social_media {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .input-wrapper {
    display: none;
  }

  #lupa {
    display: block;
  }
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 1.5rem;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
    margin-top: 13px;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.99);
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  #first_order {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 38px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: rgba(0, 0, 0, 1);
  }

  #first-order {
    display: flex;
    justify-content: center;
    height: 16px;
  }

  #first_order_p {
    max-width: 351px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }

  #img-x-close {
    display: none;
  }

  #sign_up {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .nav-bar {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 390px;
  }

  main {
    background-image: url(../img/home-couple-390px.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 100%;
  }

  #main_content {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 390px;
    height: 883px;
    background-color: rgba(242, 240, 241, 1);
  }

  .title {
    font-family: "Integral CF Bold", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    padding-top: 30px;
  }

  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-bottom: 4px;
  }

  #shop-now {
    width: 358px;
    height: 52px;
    top: 325px;
    left: 16px;
    padding: 16px 54px 16px 54px;
    gap: 12px;
    border-radius: 62px;
  }

  #home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 485px;
  }

  #main_list_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
  }

  .h2_main_list {
    width: 64px;
    height: 32px;
    font-size: 24px;
    line-height: 32.4px;
    text-align: left;
  }

  .main_list_divider:last-of-type {
    display: none;
  }

  .main_li {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  #brands {
    padding-left: 1rem;
    padding-right: 1rem;
    height: unset;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 21px;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
    column-gap: 34px;
  }

  #versace {
    width: 116.74px;
    height: 23.25px;
  }

  #zara {
    width: 63.81px;
    height: 26.65px;
    padding: 0.01px 0px 0.01px 0px;
  }

  #gucci {
    width: 109.39px;
    height: 25.24px;
    padding: 1.3px 0px 1.3px 0px;
  }

  #prada {
    width: 127px;
    height: 21px;
    padding: 0.26px 0px 0.26px 0px;
  }

  #ck {
    width: 134.84px;
    height: 21.75px;
  }

  #new_arrivals {
    padding-left: 1rem;
    padding-right: 0rem;
    padding-top: 50px;
    overflow: unset;
  }

  #cloth_divider {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .second_title {
    font-family: "Integral CF Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: center;
  }

  .cards {
    justify-content: unset;
    overflow: auto;
  }

  .card_image {
    width: 198px;
    height: 200.01px;
    top: 1217px;
    left: 16px;
    gap: 0px;
    border-radius: 13.42px 0px 0px 0px;
    opacity: 0px;
  }

  .cloth-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
  }

  .stars {
    width: 127px;
    height: 16px;
    top: 1453.01px;
    left: 16px;
    gap: 11px;
    opacity: 0px;
    box-sizing: content-box;
  }

  .preco-cortado {
    width: 51px;
    height: 20px;
  }

  .price {
    width: 45px;
    height: 27px;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
  }

  .promotion {
    gap: 8px;
  }

  .discount-button {
    font-size: 10px;
    font-weight: 500;
    line-height: 13.5px;
    text-align: left;
    width: 42px;
    height: 20px;
    text-align: center;
    border-radius: 62px;
    padding: 0;
  }

  #top_selling {
    padding-left: 1rem;
    padding-right: 0rem;
  }

  .button-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
  }
  .view-btn {
    display: flex;
    justify-content: center;
    width: 358px;
    height: 46px;
    align-items: center;
    text-align: center;
  }

  .view-all {
    width: 51px;
    height: 19px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    color: rgba(0, 0, 0, 1);
  }

  #styles {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }

  #style {
    padding-top: 40px;
    font-family: "Integral CF Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 18px;
  }

  #casual {
    background-image: url(../img/casual-espelhada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 63% 43%;
    background-size: 174%;
    width: 310px;
    height: 190px;
    border-radius: 20px;
  }

  #formal {
    background-image: url(../img/formal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 2% 31.5%;
    background-size: 225%;
    width: 310px;
    height: 190px;
    border-radius: 20px;
  }

  #party {
    width: 310px;
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 64%;
    background-size: 129%;
    width: 310px;
    height: 190px;
    border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
  }

  #gym {
    background-image: url(../img/gym.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -700% 35%;
    background-size: 102%;
    width: 310px;
    height: 190px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
  }

  .text-dress-style {
    padding-left: 24px;
    padding-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
  }

  #first_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  #second_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 27px;
  }

  #comments {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 50px;
    gap: 24px;
    overflow: hidden;
    padding-bottom: 184.81px;
  }

  #h2_comments {
    font-family: "Integral CF Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    min-width: unset;
    width: 286px;
    height: 72px;
    padding-left: 0rem;
  }

  #arrows {
    align-items: end;
    padding-right: 0;
  }

  .comment {
    min-width: 358px;
    height: 210px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px;
  }

  .stars-5 {
    width: 118px;
    height: 19.19px;
  }

  .name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    align-items: center;
    padding-top: 5px;
  }

  .avaliacao {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    min-width: 283px;
  }

  .check {
    width: 19px;
    height: 19px;
    box-sizing: content-box;
  }

  #formulario {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    max-width: 358px;
    height: 293px;
    margin-top: 0;
    margin: 0;
    border-radius: 20px;
    position: absolute;
    left: 15px;
    top: -146.5px;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-right: 2.313rem;
    padding-bottom: 1.75rem;
    justify-content: space-between;
  }

  #h2_form {
    max-width: 297px;
  }

  #h2-form-stay {
    max-width: 297px;
    max-height: 105px;
    padding-left: 0rem;
    padding-top: 0rem;
    font-family: "Integral CF Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
  }

  .search {
    width: 311px;
    height: 42px;
  }

  .search-input {
    width: 311px;
    height: 42px;
    border-radius: 62px;
  }

  .search-input,
  .search-input::placeholder {
    font-size: 14px;
  }

  #subscribe {
    width: 311px;
    height: 42px;
    border-radius: 62px;
    align-items: center;
    line-height: 18.9px;
    font-size: 14px;
  }

  #subscribe-feedback {
    width: 297px;
    height: 94px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  #footer_contacts {
    padding-top: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  #footer_middle {
    padding-top: 189.58px;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0px;
  }

  #footer_content {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 24.42px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  #footer-logo {
    width: 144px;
    height: 20px;
    font-family: "Integral CF Bold", sans-serif;
    font-size: 28.85px;
    font-weight: 700;
    line-height: 34.62px;
    text-align: left;
  }

  #footer-p {
    width: 357px;
    height: 40px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  #footer_social_media {
    margin-top: 0px;
    padding-top: 30px;
    gap: 12px;
  }

  .ul_footer_list {
    flex: 1;
    text-wrap: nowrap;
    gap: 9px;
  }

  .footer-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }

  .h3_footer_list {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 3px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 5px;
  }

  #footer-end {
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 77.26px;
    gap: 5px;
  }

  #footer_copyright {
    padding-top: 16px;
    display: flex;
    justify-content: center;
  }

  #copyright {
    width: 269px;
    height: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  #footer_payments {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 315px;
    margin-right: 0px;
  }
}
