@import url(https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold);
@import url(https://db.onlinewebfonts.com/c/2bf16335573007d828f4197c2b884c04?family=Satoshi);

* {
  padding: 0;
  margin: 0;
  font-family: "Satoshi", "Integral CF Bold", sans-serif;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  gap: 20px;
}

.logo {
  display: flex;
  align-self: center;
  align-items: center;
}

.h2-logo {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  margin-top: 5px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.input-wrapper {
  width: 100%;
  max-width: 576px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f0f0f0;
  border-radius: 62px;
  padding-left: 20px;
  margin-top: 5px;
}

.input-wrapper input {
  background-color: transparent;
}

input {
  height: 3rem;
  border-radius: 3.875rem;
  opacity: 0px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input::placeholder {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
}

#lupa {
  display: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 12px;
  margin-top: 10px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

main {
  background-image: url("../img/home-couple.png");
  padding-right: 6rem;
  padding-left: 6rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 663px;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: "Integral CF Bold", sans-serif;
  font-weight: 700;
  font-size: 64px;
  max-width: 577px;
  padding-top: 5rem;
}

.description {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  max-width: 545px;
}

button {
  width: 210px;
  height: 52px;
  top: 507px;
  left: 100px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
}

.btn-default {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}

#main_list_home {
  display: flex;
  justify-content: space-between;
  max-width: 596px;
  height: 74px;
  top: 607px;
  left: 100px;
  gap: 32px;
}

.main_list {
  list-style: none;
}

.h2_main_list {
  font-family: "Satoshi", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.main_li {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

#section_brands {
  background-color: rgba(0, 0, 0, 1);
}

#brands {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 3rem 6rem;
}

#brands li {
  list-style: none;
}

#brands li a {
  text-decoration: none;
}

#new_arrivals {
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 5rem;
}

#top_selling {
  padding-right: 6rem;
  padding-left: 6rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 2.7rem;
  border-radius: 20px;
}

.second_title {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.view-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 218px;
  height: 52px;
  top: 1548px;
  left: 611px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.view-all {
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 6rem;
}

#styles {
  padding-right: 6rem;
  padding-left: 6rem;
  display: flex;
  justify-content: center;
}

#style {
  text-align: center;
  font-family: "Integral CF Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

#dress_style {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#first_group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#second_group {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 3rem;
}

footer {
  width: 100%;
  background-color: #f0f0f0;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  padding: 6rem 6rem;
  gap: 20px;
  padding-bottom: 1.5rem;
}

#footer_contacts {
  max-width: 248px;
}

#footer_contacts h2 {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.h3_footer_list {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3px;
}

#footer_social_media {
  display: flex;
  gap: 1rem;
  margin-top: 2.2rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  width: fit-content;
  padding-top: 9px;
}

.footer-list .footer-link {
  text-decoration: none;
}

.footer-link {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

#footer-p {
  font-size: 0.875rem;
}

#footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-bottom: 4rem;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
}

#footer_payments {
  margin-top: 15px;
  display: flex;
  width: 100%;
  max-width: 315px;
}

#copyright {
  font-family: "Satoshi", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1000px) {
  .input-wrapper {
    display: none;
  }

  #lupa {
    display: block;
  }
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 1.5rem;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
    margin-top: 13px;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }

  #footer_content {
    padding: 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .nav-bar {
    padding-left: 1.2rem;
    padding-right: 0;
  }

  main {
    background-image: url("../img/home-couple.png");
    padding-right: 0rem;
    padding-left: 1.2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 663px;
  }

  #home {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  #cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    font-family: "Integral CF Bold", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }

  .description {
    font-family: "Satoshi", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    max-width: 358px;
  }

  button {
    width: 358px;
    height: 52px;
    top: 325px;
    left: 16px;
    padding: 16px 54px 16px 54px;
    gap: 12px;
    border-radius: 62px;
    opacity: 0px;
  }

  .btn-default {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
  }

  #main_list_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 596px;
    height: 74px;
    top: 607px;
    left: 100px;
    gap: 32px;
  }

  .main_list {
    list-style: none;
  }

  .h2_main_list {
    font-family: "Integral CF";
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }

  .main_li {
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }

  #footer_content {
    grid-template-columns: repeat(1, fr);
  }

  #footer_meio {
    padding: 1.5rem 1.5rem;
  }

  #footer-end {
    display: flex;
    flex-direction: column;
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
    margin-left: 0;
    margin-right: 0;
  }

  #copyright {
    padding-top: 16px;
  }
}
